body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
	margin:0;
	padding:0;
} 
input,textarea{
	outline: none;
}
ul,ol li{
	list-style: none;
}
*{
	font-family: "微软雅黑";
}
	
body{
	font-family:"SimSun","宋体","ArialNarrow","Microsoft YaHei", Arial, Lucida, Verdana, Helvetica, sans-serif;
	background:#fff;
	-webkit-text-size-adjust:100%;
	font-size:12px;
	color:#333;
	position: relative;
} 
	
a{
	color:#2d374b;
	text-decoration:none;
} 
	
/*a:hover{
	color:#cd0200;
	text-decoration:underline;
} */
	
em{
	font-style:normal;
} 
	
img{
	border:0;
	vertical-align:middle;
} 

	
table{
	border-collapse:collapse;
	border-spacing:0;
} 
/*input 元素垂直居中*/
/*input{
	vertical-align:middle;
}*/
	
/*允许长单词换行到下一行*/
p{word-wrap:break-word;} 


/*.clearfix:before,.clearfix:after{
	content:"";
	display: block;
	line-height: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}*/


/*清除浮动*/
.clearfix:after ,.clearfix:before{
	content:"";
	display:table;
}
.clearfix:after{
	clear:both;	
}
.clearfix{
	zoom:1;	
}
.news_top p.news-title{
	font-weight: bold!important;
}


/* 轮播 */
.slideBox{ width:100%; height:100%; overflow:hidden; position:relative;  }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; left: 50%; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:4px; border-radius: 50%;  width:10px; height:10px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:100%;  display:block;  }

/* 下面是前/后按钮代码，如果不需要删除即可 */
/* .slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  } */

/* tab选项卡 */
.slideTxtBox{
	
}
/*面包屑导航*/
div.navMenu{
	width: 100%;
	background: #fff;
	height: 33px;
	line-height: 33px;
}
div.navMenuCont{
	width: 1200px;
	margin: 0 auto;
	color: #818485;
}
div.navMenuCont a{
	color: #818485;
}
div.navMenuCont a.active{
	color: #2771b7;
}

/*分页*/
div.Page{
	text-align: center;
}
div.Page ul.PageBox{
	display: inline-block;
}
div.Page ul.PageBox li.pageNum{
	width: 39px;
	text-align: center;
	line-height: 29px;	
	height: 29px;
	display: inline-block;
	float: left;
	background-color: #e4eef5;
}
div.Page ul.PageBox li.on{
	background: #00479d;
}
div.Page ul.PageBox li.on a{
	color:#fff!important;
}
div.Page ul.PageBox li.pageNum a{
	color: #818485;
	display: inline-block;
}

/*顶部划过-产品中心*/
div.header{
	position: relative;
}
div.productList{
	width: 100%;
	height: 630px;
	background: rgb(237,237,237);
	position: absolute;
	top: 102px;
	z-index: 999;
	display: none;
	left: 0;
	right: 0;
}
/*2017-05-25新增产品下拉*/
div.w1200{
	width: 1200px;
	margin: 0 auto;
}
div.productList ul{float: left;width: 240px;margin-left: 26px;margin-top: 0px;}
div.productList ul:first-child{margin-left: 0;width:400px;}
div.productList ul li{float: none;background: none;height: auto;overflow: hidden;padding-top: 8px;}
div.productList ul li p{height: auto;overflow: hidden;text-align: left;}
div.productList ul li a{display: inline-block;line-height: normal;font-weight: normal;padding: 0;}
div.productList ul li .img-box{width: 240px;height: 120px;overflow: hidden;margin-bottom: 3px;line-height: 120px}
div.productList ul li .img-box a b{
	font-weight: 800;
	font-size: 24px;
	color:#000;
}
div.productList ul li .img-box a.More{
	padding-right: 20px;
	padding-top: 10px;
	font-size: 14px;
	font-weight: bold;
	color:#2b2a2a;
}
div.productList ul:first-child li .img-box{margin-bottom: 5px;width:400px;text-align: center;line-height: 120px;}
div.productList ul li img{
	position: absolute;
    width: 100%;
    display: inline-block;
    left: 0;
    z-index: -1;
}
.hover img{display: block;transition: all 0.5s ease-in-out 0s;-moz-transition: all 0.5s ease-in-out 0s;-webkit-transition: all 0.5s ease-in-out 0s;-o-transition: all 0.5s ease-in-out 0s;-ms-transition:all 0.5s ease-in-out 0s;}
.hover img:hover{transform: matrix(1.04, 0, 0, 1.04, 0, 0);-webkit-transform: matrix(1.04, 0, 0, 1.04, 0, 0);-o-transform: matrix(1.04, 0, 0, 1.04, 0, 0);-moz-transform: matrix(1.04, 0, 0, 1.04, 0, 0);-ms-transform: matrix(1.04, 0, 0, 1.04, 0, 0);}
div.productList ul li h2{font-weight: bold;font-size: 18px;color: #333;padding-bottom: 18px;}
div.productList ul li h2 a{display: block;text-align: left;font-size: 18px;font-weight: bold;color: #333;}
div.productList ul li h2 a span{font-size: 13px;color: #999;font-weight: normal;margin-bottom: -19px;padding:0;padding-bottom: 18px;line-height: 26px;margin-right: 0;background: none;}
div.productList ul li h2 a:hover{color: #006ebd;}
div.productList ul li span{margin-right: 13px;}
div.productList ul li span a{font-weight: bold;color: #333;font-size: 12px;padding-top: 5px;padding-bottom: 4px;}
div.productList ul li span a:hover{color: #006ebd;}
div.productList ul li p a{font-size: 12px;color: #666;margin-right: 7px;position: relative;top: 2px;padding: 4px 0;}
div.productList ul li p a:hover{color: #006ebd;}
div.productList ul:first-child li span a{padding-top: 4px;}
div.productList ul:first-child li p a{padding: 3px 0;}

div.productList ul li.nav-list-sub{position: relative;}
div.productList ul li.nav-list-sub:hover .nav-list-sub-div{display: block;}
div.productList ul li.nav-list-sub .nav-list-sub-div{display:none;position: absolute;left:0;right: 3px;top: 79px;z-index: 2;background-color: #fff;border: 1px solid #ededed;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;}
div.productList ul li.nav-list-sub .nav-list-sub-div a{display: block;width: 90px;line-height: normal;padding: 14px 0;color: #333;font-size: 13px;font-weight: normal !important;}
div.productList ul li.nav-list-sub .nav-list-sub-div a:hover{color: #006ebd;padding: 14px 0 14px 4px;width: 86px;}


/*返回顶部*/
div.ReturnTop{
	width: 70px;
	height: 160px;
	background: url("/image/top.png") no-repeat #fff;
	position: fixed;
	bottom:20px;
	z-index: 999;
	right: 20px;
	display: none;
}
div.ReturnTop a{
	display: inline-block;
	width: 100%;
	height: 80px;
	display: inline-block;
}