div.section_1{
    height: 350px;
    width: 100%;
    background: url("/image/product.jpg") center center;
    background-size: auto 100%;
}
div.Com_1{
    background: url("/image/product.jpg") center center;
}
div.section_1 div h1 {
    font-size: 26px;
    color: #fff;
    padding-top: 300px;
    padding-left: 120px;
}
div.conts{
    width: 1200px;
    margin: 0 auto;
}
div.Com_2 ul li.productCheck{
    display: inline-block;
    position: relative;
}

label {font-size:12px;cursor:pointer;}
label i {font-size:12px;font-style:normal;display:inline-block;width:12px;height:12px;text-align:center;line-height:12px;color:#fff;vertical-align:middle;margin:-2px 2px 1px 0px;border:#999 1px solid;}
input[type="checkbox"],input[type="radio"] {display:none;}
input[type="radio"] + i {border-radius:7px;}
input[type="checkbox"]:checked + i,input[type="radio"]:checked + i {background:#fff;color:#000;}
input[type="checkbox"]:disabled + i,input[type="radio"]:disabled + i {border-color:#fff;}
input[type="checkbox"]:checked:disabled + i,input[type="radio"]:checked:disabled + i {background:#fff;}
div.Com_3 {
    background: #f7f9fa;
    padding-top: 70px;
    padding-bottom: 70px;
}
div.Com_3 div.conts div.shzrList{
    width: 100%;
    height: 457px;
    overflow: hidden;
    margin-bottom: 30px;
}
div.Com_3 div.conts div.shzrList div.ContL,div.Com_3 div.conts div.shzrList div.ContR{
    width:50%;
    height: 457px;
    display: inline-block;
    float: left;
    text-align: center;
}
div.Com_3 div.conts div.shzrList div.ContR{
    background:#fff;
}
div.Com_3 div.conts div.shzrList div.ContR p{
    padding:0 45px;
    line-height: 30px;
}
div.Com_3 div.conts div.shzrList div.ContR h2{
    color: #2771b7;
    font-size: 30px;
    padding:50px 0 27px 0;
}

div.Com_3 div.conts ul li{
    width: 100%;
    background: #fff;
    height: 180px;
}
div.Com_3 div.conts ul li dl {
    height: 100%;
}
div.Com_3 div.conts ul li dl dt{
    width: 296px;
    height: 100%;
    display: inline-block;
    background: red;
    float: left;
}
div.Com_3 div.conts ul li dl dd {
    display: inline-block;
    width: 67%;
    padding:0 4%;
}
div.Com_3 div.conts ul li dl dd h3{
    padding:24px 0 12px 0;
}
div.Com_3 div.conts ul li dl dd h4{
    padding:12px 0 10px 0;
}
div.Com_3 div.conts ul li dl dd p{
    line-height: 22px;
    color: #a2a2a3;
}
a.Btn{
    width: 84px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color:#fff;
    display:block;
    background: red;
    border:none;
    float:right;
}
a.BtnL{
    float: left;
}

div.goodsMes{
    margin-top: 80px;
    overflow: hidden;
}
div.goodsMes dl dt{
    width: 454px;
    height: 257px;
    background:red;
    float: left;
    margin: 0px 0 50px 0;
}
div.goodsMes dl dt img{
    width: 100%;
    height: 100%;
    display: inline-block;
}
div.goodsMes dl dd{
    padding-left: 20px;
    display: inline-block;
    width:60%;
}
div.goodsMes dl dd h3{
    padding-bottom: 25px;
}
div.goodsMes dl dd div{
    padding-top: 16px;
    padding-bottom: 18px;
    overflow: hidden;
}
div.goodsMes dl dd div button{
    float: left;
}
div.goodsMes dl dd div span{
    line-height: 40px;
    padding-left: 30px;
    color: #2a70b8;
}
div.goodsMes dl dd div span b{
    font-size: 24px;
}
div.goodsMes dl dd p{
    line-height: 24px;
}

/*goods详情说明tab*/
div.product_box{
    margin-bottom: 36px;
}
div.product_box h1{
    font-size: 16px;
    height: 46px;
}
.tabIndexF{
   height: 60px;
   background:#296fb7;
   width: 100%;
}
.tabIndexF[data-fixed="fixed"]{
    position: fixed;
    position: static\0;
    top:0;
    left: 0;
    margin: 0;
}
ul.tabIndexF li a{
   color:#fff!important;
}
div.slideTxtBox{
    width: 1200px;
}
div.slideTxtBox ul {
    width: 100%;
    border-bottom: #aaacad solid 1px;
    margin-bottom: 40px;
}
div.slideTxtBox ul li{
    display: inline-block;
}
div.slideTxtBox ul li a{
    display: block;
    width: 240px;
    text-align: center;
    font-size: 18px;
    color: #333;
    line-height: 58px;
    border-bottom: 2px solid transparent;
}
div.slideTxtBox ul li.on a{
    border-bottom: 2px solid #2a70b8;
    color:#2a70b8;
}

div.TabBox table.goods{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
div.TabBox table.goods tbody tr td,table.goods thead tr th{
    padding: 15px 0 15px 22px;
    border:#ebebeb solid 1px;
}
div.TabBox table.goods thead tr{
    background:#f4f5f6;
}
div.TabBox table.goods tbody tr td.TitMes{
    width: 18%;
    border-right: none;
    border-left: none;
    border-top: none;
    font-weight: bold;
    color:#6f6d6f;
}
div.TabBox table.goods tbody tr td{
    width: 100%; 
}
div.TabBox table.goods tbody tr td.detail{
    color:#a4a2a4;
}

ol.QuesList{
    padding-left: 70px;
}
ol.QuesList li{
    line-height: 30px;
}
ol.QuesList li p{
    color:red;
    font-weight: bold;
}