div.section_1{
    height: 400px;
    width: 100%;
    background: url("/image/gsxw.png") center center;
    background-size: auto 100%;
}
div.Com_1{
    background: url("/image/gsxw.png") center center;
}
div.section_1 div h1 {
    font-size: 26px;
    color: #fff;
    padding-top: 300px;
    padding-left: 120px;
}
div.conts{
    width: 1200px;
    margin: 0 auto;
}
div.Com_3 {
    background: #f7f9fa;
    padding-top: 70px;
    padding-bottom: 70px;
}
div.Com_3 div.conts div.shzrList{
    width: 100%;
    height: 457px;
    overflow: hidden;
    margin-bottom: 30px;
}
div.Com_3 div.conts div.shzrList div.ContL,div.Com_3 div.conts div.shzrList div.ContR{
    width:50%;
    height: 457px;
    display: inline-block;
    float: left;
    text-align: center;
}
div.Com_3 div.conts div.shzrList div.ContR{
    background:#fff;
}
div.Com_3 div.conts div.shzrList div.ContR p{
    padding:0 45px;
    line-height: 30px;
}
div.Com_3 div.conts div.shzrList div.ContR h2{
    color: #2771b7;
    font-size: 30px;
    padding:50px 0 27px 0;
}